/*
COLORS:

dark blue: #112d4e
blue: #3f72af
lighter blue: #a6b1e1
light blue: #dbe2ef
light grey: #f9f7f7
*/
@keyframes wordSpaceOut {
  0% {
    opacity: 0;
    letter-spacing: 0vw; }
  100% {
    opacity: 1;
    letter-spacing: 1vw; } }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* force inheritance */ }

html {
  font-size: 62.5%;
  /* using % instead of px so user can change it */ }

body {
  padding: 0px 2.5rem;
  background-color: #f5f5f5;
  box-sizing: border-box;
  /* so the padding and border nolong added to the total height or width of the box */
  /* border: solid red 1px; */ }

body {
  font-family: 'Poppins', sans-serif;
  /* font-size: 16px; */
  color: #1d1d1d; }

.heading-top {
  color: #fff;
  width: 100%;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* element starting point shift to the middle */ }
  .heading-top--big {
    display: block;
    text-align: center;
    font-size: 6.5rem;
    letter-spacing: 1vw;
    animation-name: wordSpaceOut;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    padding: 1rem; }
  .heading-top--sml {
    display: block;
    text-align: center;
    font-size: 2.6rem;
    letter-spacing: 6px;
    font-weight: 400;
    line-height: 3rem;
    padding: 0rem 2rem;
    /* font-family: 'Inconsolata', monospace; */ }

.heading-secondary {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 600;
  background-image: linear-gradient(#a6b1e1, #112d4e);
  display: inline-block;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0.1);
  letter-spacing: 0.5rem;
  transition: all .2s; }
  .heading-secondary:hover {
    letter-spacing: 1rem; }

.heading-secondary--2 {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  color: #fff;
  letter-spacing: 0.5rem;
  transition: all .2s; }
  .heading-secondary--2:hover {
    letter-spacing: 1rem; }

.heading-tertiary {
  font-size: 1.8rem;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 9rem; }

.u-margin-bottom-medium {
  margin-bottom: 5rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.composition {
  display: flex;
  justify-content: space-evenly; }
  .composition__icon {
    font-size: 9rem;
    color: #112d4e;
    background-image: linear-gradient(to left, #a6b1e1, #f5f5f5);
    display: inline-block;
    color: rgba(255, 255, 255, 0.99);
    border-radius: 1rem;
    z-index: 10;
    transition: all .2s;
    text-shadow: 0 0.5rem 1rem rgba(166, 177, 225, 0.4);
    outline-offset: 1rem; }
    .composition__icon--i1 {
      padding: 1rem 2.2rem; }
    .composition__icon--i2 {
      padding: 1rem; }
    .composition__icon--i3 {
      padding: 1rem 1.5rem; }
    .composition__icon:hover {
      outline: 1rem solid #f5f5f5;
      transform: scale(1.05);
      box-shadow: 0 0.5rem 1rem rgba(17, 45, 78, 0.4);
      z-index: 20; }

.btn:link, .btn:visited {
  /* after click */
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3rem;
  display: inline-block;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    /* after hover */
    transform: scaleX(1.2) scaleY(1.7);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #3f72af; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  /* have to state the content and display property for it to show up */
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
  /* starts at 0% animation */ }

.card {
  perspective: 180rem;
  -moz-perspective: 180rem;
  position: relative;
  height: 52rem; }
  .card__side {
    background-color: #000;
    height: 52rem;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 2px;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.35); }
    .card__side--front {
      background-color: #f5f5f5; }
    .card__side--back {
      background-color: #112d4e;
      transform: rotateY(180deg); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    height: 22rem; }
    .card__picture--1 {
      background-image: url(../img/foodbank.png); }
    .card__picture--2 {
      background-image: url(../img/uapplied.png); }
    .card__picture--3 {
      background-image: url(../img/foodbank.png); }
  .card__heading {
    font-size: 2.5rem;
    font-weight: 300;
    color: #f5f5f5;
    position: absolute;
    top: 20rem;
    right: 0rem;
    text-align: right; }
  .card__heading-span {
    background-image: linear-gradient(to right bottom, rgba(17, 45, 78, 0.85), rgba(166, 177, 225, 0.85));
    padding: 0.5rem 1.5rem; }
  .card__details {
    padding: 3rem; }
    .card__details--main {
      text-align: center;
      font-size: 1.4rem;
      color: rgba(17, 45, 78, 0.75);
      padding: 2rem 0.5rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.8rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #cacaca; }

.project-box {
  background-color: rgba(255, 255, 255, 0.85);
  font-size: 2.3rem;
  padding: 2rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.25);
  transition: transform .5s;
  height: 35rem;
  display: inline-block; }
  .project-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem; }
  .project-box:hover {
    transform: translateY(1rem) scale(1.04); }
  .project-box__text {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif; }

@media screen and (max-width: 480px) {
  .project-box {
    display: inline-block;
    width: 100%; } }

.header__icon-box {
  display: block; }

#myIcon2 {
  width: 15rem;
  border-radius: 50%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  /* element starting point shift to the middle */
  border: 0.4rem solid #a6b1e1;
  padding: 2px;
  filter: grayscale(100%); }
  #myIcon2:hover {
    filter: grayscale(30%); }

.header {
  height: 90vh;
  /* always 95% height */
  background-image: linear-gradient(rgba(166, 177, 225, 0.8), rgba(17, 45, 78, 0.8)), url(../img/ilya-pavlov-OqtafYT5kTw-unsplash.jpg);
  background-size: cover;
  /* always fit the element inside the box */
  background-position: top;
  /* background imgs always at the top */
  -webkit-clip-path: polygon(100% 0, 100% 88%, 50% 100%, 0 88%, 0 0);
  clip-path: polygon(100% 0, 100% 88%, 50% 100%, 0 88%, 0 0); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 5rem; }
  .row .col-1-of-2 {
    width: calc((100% - 5rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 5rem * 2) / 3); }
  .row .col-2-of-3 {
    width: calc(((100% - 5rem * 2) / 3) * 2 + 5rem); }
  .row .col-1-of-4 {
    width: calc((100% - 5rem * 3) / 4); }
  .row .col-2-of-4 {
    width: calc(((100% - 5rem * 3) / 4) * 2 + 5rem); }
  .row .col-3-of-4 {
    width: calc(((100% - 5rem * 3) / 4) * 3 + (5rem * 2)); }

.section-about {
  background-color: #fff;
  padding: 15rem 3rem;
  margin-top: -10vh;
  -webkit-clip-path: polygon(50% 0%, 100% 12%, 100% 88%, 50% 100%, 0% 88%, 0% 12%);
  clip-path: polygon(50% 0%, 100% 12%, 100% 88%, 50% 100%, 0% 88%, 0% 12%); }

.section-projects {
  padding: 15rem 2rem;
  background-image: linear-gradient(rgba(166, 177, 225, 0.9), rgba(17, 45, 78, 0.9)), url(../img/mesh-X0z-meKcGAE-unsplash.jpg);
  background-size: cover; }

.section-project {
  background-image: linear-gradient(rgba(17, 45, 78, 0.8), rgba(166, 177, 225, 0.8)), url(../img/mesh-X0z-meKcGAE-unsplash.jpg);
  background-size: cover;
  padding: 15rem 3rem;
  margin-top: -10vh;
  -webkit-clip-path: polygon(50% 0%, 100% 12%, 100% 88%, 50% 100%, 0% 88%, 0% 12%);
  clip-path: polygon(50% 0%, 100% 12%, 100% 88%, 50% 100%, 0% 88%, 0% 12%); }
