/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

dark blue: #112d4e
blue: #3f72af
lighter blue: #a6b1e1
light blue: #dbe2ef
light grey: #f9f7f7
*/

$color-primary: #3f72af;
$color-primary-light: #a6b1e1;
$color-primary-dark: #112d4e;

$color-grey-dark: #222222;
$color-grey-light: #f9f7f7;

$color-white: #fff;
$color-black: #000;