@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animation";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/myicon";

@import "layout/header";
@import "layout/grid";


@import "pages/home";

#myIcon{
    width: 15rem;
    border-radius: 50%;
    filter: grayscale(100%);
    position: absolute;
    top: 32vh;
    left: 50%;
    transform: translate(-50%, -50%);  /* element starting point shift to the middle */
    border: 0.4rem solid $color-primary-light;
    padding: 2px;
}