.header__icon-box {
    display: block;

}


#myIcon2{
    width: 15rem;
    border-radius: 50%;

    position: relative;
    left: 50%;
    transform: translate(-50%, -0%);  /* element starting point shift to the middle */
    border: 0.4rem solid $color-primary-light;
    padding: 2px;
    filter: grayscale(100%);

    &:hover{
    filter: grayscale(30%);
    }
}