.header__icon-box {
    
}

#myIcon{
    width: 15rem;
    border-radius: 50%;
    filter: grayscale(100%);
    position: absolute;
    top: 32vh;
    left: 50%;
    transform: translate(-50%, -50%);  /* element starting point shift to the middle */
    border: 0.4rem solid $color-primary-light;
    padding: 2px;
}