@keyframes wordSpaceOut {
    0%{
        opacity: 0;
        letter-spacing: 5vw;
    }

    100%{
        opacity: 1;
        letter-spacing: 0.8vw;
    }
}

@keyframes moveInButton {
    0%{
        opacity: 0;
        transform: translateY(30px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}