body{
    // font-family: 'Poppins', sans-serif;
    /* font-size: 16px; */
    // line-height: 1.8;
    color: $color-grey-dark;
} 

.heading-top{
    color: $color-white;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);  /* element starting point shift to the middle */
    
    &--big{
        display: block;
        text-align: center;
        font-size: 6.5rem;
        letter-spacing: 1vw;   
        animation-name: wordSpaceOut;
        animation-duration: 4s;
        animation-timing-function: ease-out;
        padding: 1rem;
    }
    
    &--sml{
        display: block;
        text-align: center;
        font-size: 2.6rem;
        letter-spacing: 6px;
        font-weight: 400;
        line-height: 3rem;
        padding: 0rem 2rem;

        // font-family: 'Poppins', sans-serif;
        /* font-family: 'Inconsolata', monospace; */
    }
}

.heading-secondary {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 600;
    background-image: linear-gradient( $color-primary-light, $color-primary-dark);
    display: inline-block;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0.1);
    letter-spacing: 0.5rem;
    transition: all .2s;

    &:hover {
        letter-spacing: 1rem;
        // transform: skewY(6deg);
        // text-shadow: .3rem .2rem .3rem rgba($color-black, .2);

    }
}

.heading-tertiary {
    font-size: $font-small;
    text-transform: uppercase;
}

.paragraph {
    font-size: $font-small;
    font-family: 'Poppins', sans-serif;
}