.section-about {
    background-color: $color-white;
    padding: 15rem 3rem;
    margin-top: -10vh;
    -webkit-clip-path: polygon(50% 0%, 100% 12%, 100% 88%,  50% 100%, 0% 88%, 0% 12%);
    clip-path: polygon(50% 0%, 100% 12%, 100% 88%,  50% 100%, 0% 88%, 0% 12%);

    // clip-path: polygon(0 0, 50% 8%, 100% 0, 100% 100%, 50% 88%, 0 100%);
}

.section-projects {
    padding: 15rem 2rem;
    background-image: linear-gradient(
        rgba($color-primary-light, 0.9),
        rgba($color-primary-dark, 0.9)), 
        url(../img/mesh-X0z-meKcGAE-unsplash.jpg);
    background-size: cover; 

}


.section-project {
    background-image: linear-gradient(
        rgba($color-primary-dark, 0.8), rgba($color-primary-light, 0.8)), 
        url(../img/mesh-X0z-meKcGAE-unsplash.jpg);
    background-size: cover; 
    padding: 15rem 3rem;
    margin-top: -10vh;
    -webkit-clip-path: polygon(50% 0%, 100% 12%, 100% 88%,  50% 100%, 0% 88%, 0% 12%);
    clip-path: polygon(50% 0%, 100% 12%, 100% 88%,  50% 100%, 0% 88%, 0% 12%);
}